<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle *ngIf="todo.done === false"
      >"Todo is not done yet</mat-card-subtitle
    >
    <mat-card-subtitle *ngIf="todo.done === true"
      >Todo is done</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-form-field">
      <input matInput type="text" [(ngModel)]="todo.text" name="text" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="todo.done === false" (click)="setStateToDone()">
      Done
    </button>
    <button mat-button (click)="deleteTodo()">Delete</button>
  </mat-card-actions>
</mat-card>
